* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
}

.container {
  width: 940px;
  margin: 50px auto 0;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr 7fr;
  align-items: center;
}

.xzoom-thumbs {
  display: flex;
  flex-direction: column;
  max-height: 650px;
  min-height: 650px;
  gap: 4px;
  overflow-y: auto;
  min-width: 100px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.xzoom-thumbs::-webkit-scrollbar {
  display: none;
}

.selectedTrue {
  border: 2px rgb(66, 66, 255) solid;
}

.xzoom-thumbs a img {
  display: inline-block;
  height: 100px;
  width: 80px;
}

.prev-button {
  border: 2px solid #2196F3;
  rotate: -90deg;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
}
.nxt-button {
  border: 2px solid #2196F3;
  rotate: 90deg;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
}

.prev-button[disabled], .nxt-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  border-color: #ddd;
}

.nav-button:hover {
  background-color: #ccc;
}


.lens {
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: rgba(250, 235, 215, 0.301);
  opacity: 0;
  pointer-events: none;
}

.lens.active {
  opacity: 1;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.magnified-img {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s, transform 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  pointer-events: none;
}

.magnified-img.active {
  opacity: 1;
  transform: scale(1);
}

.xzoom-container {
  position: relative;
}

img {
  width: 400px;
}

.xzoom-thumbs a {
  display: flex;
  justify-content: center;
  align-items: center;
}
