@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-[#e2e2e2] ;
}

.container {
  @apply p-5 bg-white rounded-md h-screen flex justify-center items-center;
}

.xzoom-thumbs {
  @apply flex justify-between flex-1 flex-col max-h-[700px] min-h-[650] gap-5 overflow-y-auto min-w-[100px] relative items-center;
}

.xzoom-thumbs::-webkit-scrollbar {
  @apply hidden
}

.selectedTrue {
  @apply border-2 border-[#4242ff] border-solid;
}

.xzoom-thumbs a img {
<<<<<<< HEAD
  @apply inline-block h-20 w-20;
=======
  @apply inline-block h-[6rem] w-[6rem];
>>>>>>> origin/B-Yuva
}

.prev-button {
  @apply border-2 border-[#2196f3] border-solid  -rotate-90 cursor-pointer rounded-full text-[2rem] ;
}
.nxt-button {
  @apply border-2 border-[#2196f3] border-solid   rotate-90 cursor-pointer rounded-full text-[2rem];
}

.prev-button[disabled],
.nxt-button[disabled] {
  @apply opacity-50 cursor-not-allowed border-[#ddd];
}

.nav-button:hover {
  @apply bg-[#ccc];
}

.lens {
<<<<<<< HEAD
  @apply absolute w-[10rem] h-[10rem]  bg-[#faebd74d] opacity-0 pointer-events-none rounded-full;
=======
  @apply absolute w-[10rem] h-[10rem]  bg-[#faebd74d] opacity-0 pointer-events-none;
>>>>>>> origin/B-Yuva
}

.lens.active {
  @apply opacity-100;
}

.description {
  @apply relative flex justify-center items-start flex-col h-full w-full ;
  flex: 7;
}

.magnified-img {
<<<<<<< HEAD
  @apply  absolute opacity-0 scale-[0.2] h-[30rem] w-[30rem] pointer-events-none rounded-full ;
=======
  @apply  absolute opacity-0 scale-[0.2] h-[30rem] w-[30rem] pointer-events-none ;
>>>>>>> origin/B-Yuva
  transition: opacity 0.5s, transform 0.2s;
  box-shadow: #64646f33 0px 7px 29px 0px;
}

.magnified-img.active {
  @apply opacity-100 scale-100;
}

.xzoom-container {
  @apply border-2 border-[#ccc] border-solid rounded rounded-t-3xl rounded-r-3xl rounded-b-none rounded-l-3xl my-auto mx-12 relative flex justify-center items-center overflow-hidden;
  flex: 4;
}

.xzoom-container img {
  @apply w-full h-full;
}

img {
  @apply w-[400px];
}

.xzoom-thumbs a {
  @apply flex justify-center items-center;
  
}

.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-[#000000b3]  flex justify-center items-center z-50; 
}

.modal-content {
  @apply w-full h-full bg-[#fff] py-10 px-5 rounded-2xl flex flex-col justify-between items-center;
}

.carousel-image {
  @apply max-w-full max-h-[80vh] object-contain;
}

.close {
  @apply text-3xl font-bold cursor-pointer text-black;
}

.prev,
.next {
  @apply text-5xl font-bold bg-[#ffffffb3] border-none p-3 cursor-pointer;
}

.buttons {
  @apply absolute flex justify-between items-center bottom-12 w-[200px];
}
#thumbButtons{
  @apply  flex justify-evenly items-center w-full mt-10; 
}
