@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}
#thumbButtons {
  @apply flex justify-evenly items-center w-full mt-10;
}

body {
  @apply bg-[#e2e2e2];
}

.container {
  @apply p-5 bg-white rounded-md h-screen flex justify-center items-center;
}

.xzoom-thumbs {
  @apply flex justify-between flex-1 flex-col max-h-[700px] min-h-[650] gap-5 overflow-y-auto min-w-[100px] relative items-center;
}

.xzoom-thumbs::-webkit-scrollbar {
  @apply hidden;
}

.selectedTrue {
  @apply border-2 border-[#4242ff] border-solid;
}

.xzoom-thumbs a img {
  @apply inline-block h-20 w-20;
}

.prev-button {
  @apply border-2 border-[#2196f3] border-solid  rotate-90 cursor-pointer rounded-full text-[2rem];
}
.nxt-button {
  @apply border-2 border-[#2196f3] border-solid   rotate-90 cursor-pointer rounded-full text-[2rem];
}

.disabled{
  @apply opacity-50 cursor-not-allowed border-[#ddd];
}

.nav-button:hover {
  @apply bg-[#ccc];
}

.lens {
  @apply absolute w-[10rem] h-[10rem] opacity-0 pointer-events-none;
}

.lens.active {
  @apply opacity-100;
}

.description {
  @apply relative flex flex-col h-full w-full justify-center items-center;
  flex: 7;
}

.magnified-img {
  @apply opacity-0 bg-red-100 scale-[0.2] h-[30rem] w-[30rem] pointer-events-none absolute z-[99];
}

.magnified-img.active {
  @apply opacity-100 scale-100;
}

.xzoom-container {
  @apply border-2 border-[#ccc] border-solid rounded rounded-t-3xl rounded-r-3xl rounded-b-none rounded-l-3xl my-auto mx-12 relative flex justify-center items-center overflow-hidden;
  flex: 4;
}

.xzoom-container .magnified-img{

}

.xzoom-container img {
  @apply w-full h-full;
}

img {
  @apply w-[400px];
}

.xzoom-thumbs a {
  @apply flex justify-center items-center;
}

.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-[#ffffff] flex items-center flex-col justify-evenly gap-16};

.modal-content {
@apply relative;
}

.carousel-image {
  @apply max-w-full max-h-[80vh] cursor-zoom-in;
  transition: transform 0.3s ease;
}
.carousel-image.zoomed {
  @apply scale-[2] cursor-zoom-out;
}

.buttons {
  @apply absolute w-[200px] bottom-8 flex justify-between;
}

.prev, .next, .close {
  @apply text-black text-4xl cursor-pointer;
}
